{% extends 'layout.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
          <tr>
            <td>{{item.Id}}</td>  
            <td>{{item.Company}}</td>
            <td>{{item.TickerSymbol}}</td>              
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
  </div>
</div>
{% endblock %}
